 *  {
        /* border: 1px solid red; */
        margin: 0;
        padding: 0; 
        box-sizing: border-box;
        font-family: 'Ropa Sans', sans-serif; 
} 

.cabecalho { 
    width: 100%;
    height: 48px;
    line-height: 0%;
    padding: 2% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    }

.left {
    display: flex;
    align-items: center;
    gap: 5px;
}

h1 {
    display: flex;
    width: 63px;
    height: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 27px;
    color: #777777;
    }

    
.frase { 
    display: flex; 
    width: 70px; 
    height: 22px;  
    font-family: 'Ropa Sans';
    font-style: normal; 
    font-weight: 400; 
    font-size: 10px; 
    line-height: 17px;  
    color: #AAAAAA; }

.vector {
    margin-right: 60px;
    display: flex;
    transform: translateX(70px);
}


.navegacao {
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: space-evenly;
width: 100%;
margin-top: 2%;
padding: 0% 5%;
gap: 37px;

background: #FFFFFF;
}

.img1 {
    display: flex;
    width: 100%;
}

.ofertas {
    display: flex;
    justify-content: space-between;
    width: 100%;


}

.card {
    background-color: #EEEEEE;
    margin-top: 5%;
    height: auto;
    width: 570px;
}

.card img {
    width: 100%;
    height: auto;
}

h3 {
    font-family: 'Ropa Sans';
    size: 10px;
    font-weight: 400 Regular;
    color: #555555;
}

.value {
font-family: 'Ropa Sans';
font-size: 40px;
font-weight: 400;
line-height: 27px;
line-height: 100%;
align-self: Left;
vertical-align: Top;
color: #888888;
}

.topo {
    display: flex;
    justify-content: space-between;
    margin: 3% 7% 2% 7%;
}

.new_principal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 106px;
    height: 37px;
    border-radius: 16px;
    background-color: #51D275;
}

.new {
    font-family: 'Ropa Sans';
    font-size: 35px;
    border-radius: 10.5px;
    line-height: 21.44px;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;

}

.sale_principal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 106px;
    height: 37px;
    border-radius: 16px;
    background-color: #DC9730;
}

.sale {
    font-family: 'Ropa Sans';
    font-size: 35px;
    border-radius: 10.5px;
    line-height: 21.44px;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
}